<%- include("../includes/header") -%>
<div class="container">
  <div class="login-box">
    <form action="/admin/login" method="post">
      <label for="username">Username:</label>
      <input type="email" id="username" name="username" />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />

      <button class="login-btn" type="submit">Login</button>
    </form>
  </div>
</div>
