* {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  /* background-color: #e0e9e6; */
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;

  /*  */
}

.container {
  max-width: 900px;
  height: fit-content;
  margin-inline: auto;
  padding: 1rem 0;
}

header {
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-family: "Pacifico", cursive;
}

/* feature img  */

.feature-img {
  min-height: 250px;
  max-height: 250px;
  /* width: 100vw; */
  background-image: url("../img/ff.jpg");
  background-size: cover;
}

.flex-container {
  display: flex;
  align-items: center;
  height: 250px;
}

.feature-text {
  color: white;
  font-size: 1.2rem;
  text-align: justify;
}

/* posts section  */

.post-box {
  display: flex;
  gap: 1rem;
  /* align-items: center; */
  justify-content: center;
  margin-top: 2rem;
}

.post-image {
  width: 200px;
  max-height: 140px;
}

.post-text-data {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.post-title {
  font-size: 26px;
}

.post-description {
  font-size: 14px;
  color: rgb(175, 172, 172);
  text-align: justify;
}

.read-btn {
  background: #fff700;
  border: none;
  height: 1.5rem;
  width: 6rem;

  color: rgb(35, 35, 36);
  border-radius: 0.2rem;
  font-size: 0.7rem;
}

/* post page styles */

.container.singlePostBox {
  text-align: center;
}

.postPage-img {
  margin: 1rem 0;
  min-width: 600px;
  min-height: 300px;
}

.postPage-desc {
  text-align: justify;
  color: rgb(175, 172, 172);
  line-height: 1.5rem;
}

/* footer */

footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 1rem 0;
}

/* login form */

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.login-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-box {
  width: 50%;
  margin-inline: auto;
}

/* ########## admin form############# */

.admin-form-box {
  width: 60%;
  margin-inline: auto;
  margin-top: 1rem;
}

h2 {
  text-align: center;
  color: #333;
}

.admin form {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

.admin input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.admin input[type="file"] {
  margin-bottom: 15px;
}

.admin input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.admin input[type="submit"]:hover {
  background-color: #45a049;
}

/* post table styles */

table {
  margin-top: 1rem;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

td.actions {
  white-space: nowrap;
}

/* edit post */

.btn {
  background-color: #4caf50;
  color: white;
}
